body{background-color: gray;}
.welcome{   
    width: 30%;
    position: relative;
    left: 35%;
    border: 5px solid red;
    border-radius: 15px;
    background-color: white;
    box-shadow: 6px 6px purple;
    text-align: center;
}
h1{
    color: darkred;
    text-shadow: 2px 2px 5px purple;
}
.grnprnt{
    position: relative;
    height: 38em;
    border: 8px solid green;
}
.box{
    width: 18%;
    height: 30%;
    border: 5px solid red;
    border-radius: 15px;
    background-color: white;
    box-shadow: 6px 6px purple;
}
.b1{
    position: absolute;
    left: 0%;
    top: 0%;
    text-align: center;
    color: black;
    text-shadow: 1px 2px 2px purple;
}
.b2{
    position: absolute;
    top: 0%;
    right: 5%;
}
.image{
    position: relative;
    top: 10%;
    left: 5%;
    width: 90%;
    position: relative;
    border: 1px solid black;
}
img{
    width: 90%;
    height: 70%;
}
.b3{
    position: absolute;
    bottom: 5%;
    color: black;
    text-shadow: 1px 2px 2px purple;
}
.b4{
    position: absolute;
    right: 5%;
    bottom: 5%;
    text-align: center;
    color: black;
    text-shadow: 1px 2px 2px purple;
    line-height: 70%;
}
label{
    font-size: small;
}
input{
    text-align: center;
    width: 60%;
}
button{
    background-color: red;
    border-radius: 20px;
}
.fix{
    position: fixed;
    left: 35%;
    bottom: 15%;
    width: 30%;
    height: 12%;
    border: 5px solid red;
    border-radius: 15px;
    background-color: yellow;
    box-shadow: 6px 6px purple;
    display: flex;
    justify-content: space-around;
}
.p1{
    color: red;
    font-size: large;
    font-style: italic;
    text-align: center;
}
.p2{
    color: red;
    font-size: small;
    font-style: italic;
    text-align: center;
}
.vltprnt{
    position: relative;
    left: 20%;
    width: 60%;
    border: 8px solid rgb(121, 6, 121);
    background-color: green;
    text-align: center;
}
.slot{
    background-color: darkkhaki;
}
.fruits{

    width: 49%;
    height: 12em;
}
#f{
    padding-top: 1rem;
}
.veges{
    position: absolute;
    top: 14.5%;
    right: 0%;
    width: 49%;
    height: 12em;
}
.others{
    height: 12em;
    width: 101%;
}
#o{
    padding-top: 1rem;
}